.App {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.calculator {
  background-color: black;
  color: white;
  border: 4px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 340px;
  width: 260px;
  outline: 1px solid darkgray;
}

.screen {
  height: 48px;
  background-color: white;
  margin-bottom: 5px;
  color: black;
  vertical-align: middle;
  line-height: 48px;
  font-size: 26px;
  padding: 0px 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons .column button {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blue;
  /* Center Text */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 1px;
}

.column-last {
  display: flex;
  flex-direction: column;
}

/* Divide Sign */
.buttons .column-last button:first-child {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blue;
  /* Center Text */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  transform: translateY(8.8px);
  border-radius: 1px;
}

/* Equals Sign */
.buttons .column-last button:last-child {
  display: inline-block;
  height: 215.7px;
  width: 40px;
  background-color: blue;
  /* Center Text */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  transform: translateY(27.1px);
  border-radius: 1px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}