@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.App {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 215px;
  height: 100vh;
}

.Heading {
  font-family: 'Dancing Script', cursive;
  color: rgb(247, 5, 5);
  font-size: 70px;
  
  margin: auto auto 0%;
}

.calculator {
  background-color: black;
  color: white;
  border: 4px solid lightgray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 340px;
  width: 260px;
  outline: 2px solid white;
  box-shadow: 4px 4px 15px 0px black;
}

.screen {
  height: 48px;
  margin: 5px;
  background-color: white;
  color: black;
  vertical-align: middle;
  line-height: 48px;
  font-size: 26px;
  padding: 0px 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons .column button {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blue;
  /* Center Text */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 1px;
}

.column-last {
  display: flex;
  flex-direction: column;
}

/* Divide Sign */
.buttons .column-last button:first-child {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blue;
  /* Center Text */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  transform: translateY(8.8px);
  border-radius: 1px;
}

/* Equals Sign */
.buttons .column-last button:last-child {
  display: inline-block;
  height: 209.1px;
  width: 40px;
  background-color: blue;
  /* Center Text */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  transform: translateY(24.6px);
  border-radius: 1px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}